@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

.prose pre {
    background-color: transparent !important; /* prose의 기본 회색 제거 */
    border: none !important; /* 테두리 제거 */
    padding: 0 !important; /* padding 제거, highlight.js가 처리 */
    box-shadow: none !important;
}

.prose.code {
    background-color: transparent !important; /* 이중 배경 금지 */
    padding: 1rem !important; /* 코드와 박스 사이 여백 여기서 조절 */
    border-radius: 0.5rem; /* 모서리 둥글게 */
    font-family: inherit; /* font 상속 */
}